<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ANAT IDS</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<nav class="navbar navbar-dark bg-dark border-bottom border-info">

    <div class="container">

        <a class="navbar-brand" href="/">
            🛡️ ANAT IDS
        </a>

        <div>

            <a class="btn btn-outline-info me-2"
               href="/">
                Dashboard
            </a>

            <a class="btn btn-outline-success me-2"
               href="/packets">
                Packets
            </a>

            <a class="btn btn-outline-danger"
               href="/alerts">
                Alerts
            </a>

        </div>

    </div>

</nav>

<div class="container mt-4">

    {% block content %}

    {% endblock %}

</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script src="{{ url_for('static', filename='js/charts.js') }}"></script>

<script>
setTimeout(function(){
    location.reload();
},5000);
</script>

</body>
</html>